# このファイルより上の階層の.editorconfigファイルは評価しない
root = true

[*]
# インデントはスペース2つ分
indent_style = space
indent_size = 2
# 文字コードはUTF-8
charset = utf-8
# 行末の空白文字を削除
trim_trailing_whitespace = true
# ファイルの末尾が改行でない時に補完
insert_final_newline = true
# 改行コードはLF
end_of_line = lf
# 一行は80文字まで
max_line_length = 80

[*.md]
# Markdownの時は行末の空白文字を削除しない
trim_trailing_whitespace = false

[*.txt]
# txtファイルの時は改行しない
insert_final_newline = false